<h1>Welcome/Bienvenue </h1>



<% @posts.each do |post| %>
<p>-----------------------------</p>
<h2><%= link_to post.title, post %><h2/>

  <p>by <font color="green"><%= post.autor%></font></p>
  <p><%= time_ago_in_words post.created_at %> ago</p>


  <p><font color="purple"><%= truncate post.text %></font></p>
  
  <p><font color="red">t<%= post.created_at %> </font></p>  
<% end %>



<p>
<%= link_to "New Post/ Nouveau Post", new_post_path  %>
</p>
